{% extends 'backend/admin/user_profile/users-profile.html.twig' %}

{% block ads_password %}
    <li class="nav-item bx-border-circle">
        <a class="nav-link collapsed bg-primary text-white" href="{{ path('user_profile',{'id':user.id, 'page':'password'}) }}">
            <i class="bi bi-shield-lock text-white"></i><span>{{ 'user.profile.change_password_menu'|trans }}</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab">
                    {{ 'user.profile.change_password_tab'|trans }}
                </button>
            </li>
        </ul>

        <div class="tab-content pt-2">
            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">{{ 'user.profile.change_password_title'|trans }}</h5>
                {% include 'reset_password/change.html.twig' %}
            </div>
        </div><!-- End Bordered Tabs -->
    </div>
{% endblock %}
