{% extends 'user/profile/users-profile.html.twig' %}
{% block ads_infos %}
    <li class="nav-item bx-border-circle">
        <a style="background-color : var(--primary-color);" class="nav-link collapsed text-white" href="{{ path('user_profile', {'id': app.user.id, 'page': 'infos'}) }}">
            <i class="bi bi-pencil-square text-white"></i>
            <span>{{ 'profile.edit_link'|trans }}</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab">
                    {{ 'profile.edit_tab'|trans }}
                </button>
            </li>
        </ul>

        <div class="tab-content pt-2">
            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">{{ 'profile.my_information'|trans }}</h5>
                {% include 'user/edit.html.twig' %}
            </div>
        </div><!-- End Bordered Tabs -->
    </div>
{% endblock %}
