<form method="post" action="{{ path('app_air_craft_category_delete', {'id': air_craft_category.id}) }}" onsubmit="return confirm('{{ 'delete_confirmation'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ air_craft_category.id) }}">
    <button class="btn">{{ 'delete_button'|trans }}</button>
</form>

