
{{ include('air_craft_category/_form.html.twig') }}

<a href="{{ path('app_air_craft_category_index') }}" class="btn btn-outline-secondary mt-3">
    {{ 'aircraft_category.back_to_list'|trans }}
</a>
