
{% extends 'base.html.twig' %}
{% block header %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block main %}
    <main>
        <div class="container">

            <section class="section register d-flex flex-column justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6 d-flex flex-column justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="" class="logo d-flex align-items-center w-auto">
                                    <span class="d-none d-lg-block">AirTradeLogoIci</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="d-flex justify-content-center py-2">
                                <h3>Merci </h3>
                            </div>

                            <div class="card mb-3">

                                <div class="card-body p-4">
                                    <p>
                                        <small>
                                            Si un compte correspondant à votre adresse e-mail existe, un e-mail vient de vous être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans
                                         {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                                        </small>
                                    </p>
                                    <hr>
                                    <small>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</small>

                                    <div class="row gap-2 mt-4">
                                        <a href="{{ path('app_login') }}" class="btn btn-primary w-100 border-0" style="background-color: #07182e;">retourner à la page de connexion
                                        </a>
                                    </div>





                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->
{% endblock %}

{% block footer %}
{% endblock %}