<div class="modal fade" id="yearModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Filtrer par année</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <label for="minYear" class="form-label">Année min</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="minYear" name="min_year" placeholder="1900" min="1900" max="2099">
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="maxYear" class="form-label">Année max</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="maxYear" name="max_year" placeholder="2025" min="1900" max="2099">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Appliquer</button>
            </div>
        </div>
    </div>
</div>