{% extends 'base.html.twig' %}

{% block title %}Edit NewLetter{% endblock %}

{% block body %}
    <h1>Edit NewLetter</h1>

    {{ include('new_letter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_new_letter_index') }}">back to list</a>

    {{ include('new_letter/_delete_form.html.twig') }}
{% endblock %}
