<form method="post"
      action="{{ path('app_aircraft_manufacturer_delete', {'id': aircraft_manufacturer.id}) }}"
      onsubmit="return confirm('{{ 'aircraft_manufacturer.delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aircraft_manufacturer.id) }}">
    <button class="btn btn-danger">
        {{ 'aircraft_manufacturer.delete_button'|trans }}
    </button>
</form>

