{% extends 'base.html.twig' %}

{% block title %}Edit AircraftManufacturer{% endblock %}

{% block body %}
    <h1>Edit AircraftManufacturer</h1>

    {{ include('aircraft_manufacturer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_aircraft_manufacturer_index') }}">back to list</a>

    {{ include('aircraft_manufacturer/_delete_form.html.twig') }}
{% endblock %}
