<h1 class="mb-4">{{ 'aircraft_manufacturer.new_heading'|trans }}</h1>

{{ include('aircraft_manufacturer/_form.html.twig', {'button_label': 'aircraft_manufacturer.create_button'|trans }) }}

<a href="{{ path('app_aircraft_manufacturer_index') }}" class="btn btn-secondary mt-3">
    {{ 'aircraft_manufacturer.back_to_list'|trans }}
</a>

