<form method="post" action="{{ path('app_aircraft_delete', {'id': aircraft.id}) }}"
      onsubmit="return confirm('{{ 'aircraft.delete_confirmation'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aircraft.id) }}">
    <button class="btn btn-outline-danger">
        {{ 'aircraft.delete_button'|trans }}
    </button>
</form>

