<form method="post" action="{{ path('app_intern_contact_delete', {'id': intern_contact.id}) }}" onsubmit="return confirm('{{ 'confirm.delete'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ intern_contact.id) }}">
    <button class="btn">{{ 'button.delete'|trans }}</button>
</form>

