<form method="post"
      action="{{ path('app_user_delete', {'id': user.id}) }}"
      onsubmit="return confirm('{{ 'user.delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">{{ 'user.delete_button'|trans }}</button>
</form>

